<% if current_user %>
    <div class="page-header">
      <h1>About you..</h1>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <ul>
          <li><strong>Name:</strong> <%= current_user.name %></li>
          <li><strong>Provider:</strong> <%= current_user.provider %></li>
          <li><strong>uID:</strong> <%= current_user.uid %></li>
          <li><strong>Avatar: <%= image_tag current_user.image_url %></li>
        </ul>
      </div>
    </div>
<% end %>